
// 初始化时分类的宽度
$cate_width: 15rem;
// 初始化时登录模块宽度
$login_width: 16rem;
// 顶部导航栏高度
$topbar_height: 36px;
// 主题基本颜色
$base_color: #1e1e1e;
// 主题字体颜色
$font_color: #fff;
// 字体大小
$font_size: 12px;
// 边框颜色
$border_color: #fff;
// 工具栏宽度
$tools_width: 3.5rem;
// 工具栏元素高度
$tools_item_height: 3.2rem;
// 登录模块宽度
$login_height: 25rem;
// 标签栏高度
$tab_title_height: 2.5rem;

// 计算不同的背景颜色
@function get_bg_color($percentage: 0%) {
  @return mix(white, $base_color, $percentage);
}
// 计算不同的字体颜色
@function get_font_color($percentage: 0%) {
  @return mix(black, $font_color, $percentage);
}
// 三种背景颜色
$bg_color_1: get_bg_color();
$bg_color_2: get_bg_color(5%);
$bg_color_3: get_bg_color(10%);
// 颜色
$blue_bg_color: #163047;
$blue_font_color: #5792e3;
$blue_border_color: #5792e3;
html:root {
  --cate-width: #{$cate_width};
  --login-width: #{$login_width};
  // 淘宝自身的css变量
  --tbpc-primary-theme-color: #3b74b8 !important;
}
body {
  background-color: $bg_color_3 !important;
  position: relative;
}

// 计算内容的宽度
$content_width: calc(100vw - var(--cate-width) - $tools_width - var(--login-width));

@import "./styles/mixin.scss";
@import "./styles/scrollbar.scss";
@import "./styles/topbar.scss";
@import "./styles/tools.scss";
@import "./styles/content.scss";
@import "./styles/seoinject.scss";
@import "./styles/footer.scss";
@import "./styles/media.scss";

// 插件 -> 更新按钮样式
button[data-spm-anchor-id] {
  bottom: 50px !important;
}