@charset "UTF-8";
html:root {
  --cate-width: 15rem;
  --login-width: 16rem;
  --tbpc-primary-theme-color: #3b74b8 !important;
}

body {
  background-color: #353535 !important;
  position: relative;
}

/* 针对整个滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #353535;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none; /* 通常不显示按钮 */
}

/* 滚动条两端（或上下）的指示器 */
::-webkit-scrollbar-corner {
  background: #d2d2d2;
}

/* 当鼠标悬停在滑块上时改变滑块样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #bcbcbc;
}

#J_SiteNav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  border-bottom: unset;
}
#J_SiteNav .site-nav-bd {
  background-color: var(--tbpc-primary-theme-color);
  display: flex;
  justify-content: space-between;
  margin: unset;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l,
#J_SiteNav .site-nav-bd .site-nav-bd-r {
  color: #fff;
  font-size: 12px;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l li.site-nav-menu-hover .site-nav-menu-hd,
#J_SiteNav .site-nav-bd .site-nav-bd-r li.site-nav-menu-hover .site-nav-menu-hd {
  border: 0;
  background-color: #1e1e1e;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l li .site-nav-menu-hd,
#J_SiteNav .site-nav-bd .site-nav-bd-r li .site-nav-menu-hd {
  background-color: transparent;
  box-sizing: border-box;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l li .site-nav-menu-bd-panel,
#J_SiteNav .site-nav-bd .site-nav-bd-r li .site-nav-menu-bd-panel {
  border: 0;
  background-color: #1e1e1e;
  transform: translateY(calc(5px - 100% - 36px));
}
#J_SiteNav .site-nav-bd .site-nav-bd-l li .site-nav-menu-bd-panel .site-nav-region-item:hover,
#J_SiteNav .site-nav-bd .site-nav-bd-l li .site-nav-menu-bd-panel a:hover,
#J_SiteNav .site-nav-bd .site-nav-bd-r li .site-nav-menu-bd-panel .site-nav-region-item:hover,
#J_SiteNav .site-nav-bd .site-nav-bd-r li .site-nav-menu-bd-panel a:hover {
  background: #292929;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l .site-nav-user-info * {
  color: #fff;
}
#J_SiteNav .site-nav-bd .site-nav-bd-l .site-nav-user-info * :hover {
  color: var(--tbpc-primary-theme-color);
}
#J_SiteNav .site-nav-bd .site-nav-bd-r {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#J_SiteNav .site-nav-bd .site-nav-bd-r .site-nav-menu-hd {
  display: flex;
  overflow: hidden;
}
#J_SiteNav .site-nav-bd .site-nav-bd-r .site-nav-menu-hd a {
  float: unset;
}
#J_SiteNav .site-nav-bd .site-nav-menu-hd a {
  color: #fff;
}

.site-nav.site-nav-status-login::after,
.site-nav.site-nav-status-logout::after {
  content: "淘宝网首页.md -- 欢迎来到淘宝网之VScode版";
  color: #b3b3b3;
}

#J_Toolkit .tb-toolkit {
  position: fixed;
  top: 36px;
  left: 0;
  right: unset;
  height: calc(100vh - 36px);
  transform: unset;
  border-radius: unset;
  background-color: #353535;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item {
  border-radius: unset;
  background-color: unset;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item i {
  filter: invert(100%);
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item a {
  color: #fff;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .im-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3.5rem;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .im-entry .im-top {
  width: 24px;
  height: 22px;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .im-entry .im-top img {
  display: none;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .im-entry .im-top::after {
  content: "";
  display: block;
  background: url("//gw.alicdn.com/imgextra/i3/O1CN01CEAqor1T5Bm2U3Ccm_!!6000000002330-2-tps-48-44.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  filter: invert(100%);
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .im-entry .im-bottom {
  color: #fff;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item.toolkit-item-back {
  bottom: 36px;
}
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item.toolkit-item-back::before {
  width: 3.5rem;
  background-color: #353535;
}

#ice-container {
  position: relative;
  left: calc(3.5rem + var(--cate-width));
  background-color: #353535;
}
#ice-container::before {
  content: "淘宝网首页.md";
  display: flex;
  align-items: center;
  width: 100px;
  height: 2.5rem;
  padding-left: 30px;
  position: fixed;
  top: 36px;
  left: calc(3.5rem + var(--cate-width));
  color: #fff;
  font-style: italic;
  z-index: 999;
  background-color: #1e1e1e;
  background-image: url("https://img.alicdn.com/imgextra/i2/3558723722/O1CN01Fn6k111dMj9LMorPh_!!3558723722-2-tblife2_ugc.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
#ice-container::after {
  content: "";
  display: block;
  position: fixed;
  top: 36px;
  left: 0;
  width: 100vw;
  height: 2.5rem;
  background-color: #292929;
}
#ice-container > .J_Module, #ice-container > div[data-name=superbanner] {
  left: calc(0px - (var(--cate-width) + 3.5rem));
  top: 41px;
  width: 100vw;
  z-index: 200;
}
#ice-container > .cup.search-fixed {
  margin: unset;
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width));
  border-radius: unset;
  margin-top: 2.5rem;
}
#ice-container > .cup.search-fixed > .top {
  margin: unset;
  height: 36px;
  padding: unset;
  height: 16.7rem;
  background-color: #292929;
}
#ice-container > .cup.search-fixed > .top::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 36px;
  background-color: #353535;
}
#ice-container > .cup.search-fixed > .top .top-wrap {
  width: inherit;
  background-color: #292929;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-logo-right,
#ice-container > .cup.search-fixed > .top .top-wrap a[class=logo] {
  display: none;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-logo {
  float: unset;
  position: absolute;
  left: 0;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search {
  margin: auto;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search {
  z-index: 200;
  width: 35rem !important;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup {
  display: block !important;
  left: calc((100vw - var(--cate-width) - 3.5rem - var(--login-width) - 35rem) / -2) !important;
  top: 70px !important;
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width));
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu {
  background-color: #353535;
  border: unset;
  border-radius: unset;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu .search-suggest-menu-header .search-suggest-menu-history-item {
  background-color: #292929;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu * {
  color: #fff;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu .search-suggest-menu-item:hover {
  background-color: #353535;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu .search-suggest-menu-item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("https://img.alicdn.com/imgextra/i2/3558723722/O1CN01Fn6k111dMj9LMorPh_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 5px;
}
#ice-container > .cup.search-fixed > .top .top-wrap .tbh-search #J_Search > .search-suggest-popup .search-suggest-menu .search-suggest-menu-item .text::after {
  content: ".md";
  display: inline-block;
}
#ice-container > .search-fixed.search-decorations > .top {
  background-color: #353535;
}
#ice-container > .search-fixed.search-decorations > .top .top-wrap {
  padding-top: 15px;
}
#ice-container > .wrap-fixed.search-decorations > .top, #ice-container > .cup.wrap-fixed > .top {
  background-color: #353535;
  height: 36px;
  padding: unset;
}
#ice-container > .wrap-fixed.search-decorations > .top::after, #ice-container > .cup.wrap-fixed > .top::after {
  content: "";
  display: block;
  background-image: url("https://img.alicdn.com/imgextra/i1/O1CN011YZ3P01zMCE6HGyhk_!!6000000006699-2-tps-480-144.png");
  background-size: 100% 100%;
  height: 36px;
  aspect-ratio: 10/3;
  position: absolute;
  top: 2px;
  left: -1rem;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search], #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] {
  margin: 0;
  position: fixed;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd {
  width: 750px !important;
  height: 30px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab], #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab] {
  margin-top: unset;
  height: 25px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab] .search-suggest-tabs-tab, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab] .search-suggest-tabs-tab {
  height: 30px;
  line-height: 30px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab] .search-suggest-tabs-tab .search-tab-icon, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=tab] .search-suggest-tabs-tab .search-tab-icon {
  top: 10px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] div[data-sg-type=placeholder], #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] div[data-sg-type=placeholder] {
  top: -5px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-suggest-combobox, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-suggest-combobox {
  height: 25px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-suggest-combobox input, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-suggest-combobox input {
  height: 25px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-button > .btn-search, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd form[name=search] .search-button > .btn-search {
  top: 0;
  right: 0;
  height: 28px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd .search-suggest-split, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd .search-suggest-split {
  top: 8px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd .image-search-wrapper, #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd .image-search-wrapper {
  top: 0px;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=hotWord], #ice-container > .cup.wrap-fixed > .top .top-wrap div[data-name=search] .search-wrap > .search-bd div[data-sg-type=hotWord] {
  display: none;
}
#ice-container > .wrap-fixed.search-decorations > .top .top-wrap .tbh-logo, #ice-container > .cup.wrap-fixed > .top .top-wrap .tbh-logo {
  display: none;
}
#ice-container > .wrap-fixed.search-decorations + .screen-outer + .layer .smallTabListWrapper, #ice-container > .cup.wrap-fixed + .screen-outer + .layer .smallTabListWrapper {
  position: fixed;
  top: 36px !important;
  left: calc(3.5rem + var(--cate-width));
  z-index: 1000;
}
#ice-container > .screen-outer {
  height: 0;
  padding-top: unset;
}
#ice-container > .screen-outer div[data-name=service] .J_Service {
  position: fixed;
  top: 36px;
  left: 3.5rem;
  z-index: 220;
  height: calc(100vh - 36px - 30px);
  max-height: unset;
  background-color: #292929;
  margin-left: unset;
  border-radius: unset;
}
#ice-container > .screen-outer div[data-name=service] .J_Service::before {
  content: "资源管理器";
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  color: #fff;
  font-size: 16px;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}
#ice-container > .screen-outer div[data-name=service] .J_Service div[class^=cate-title] {
  padding: 0 16px;
  background-color: #626262;
}
#ice-container > .screen-outer div[data-name=service] .J_Service div[class^=cate-title]::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
  margin-left: 0.2rem;
  margin-right: 5px;
  transform: scale(1.5);
}
#ice-container > .screen-outer div[data-name=service] .J_Service div[class^=cate-title] span[class^=cate-title-txt] {
  color: #fff;
}
#ice-container > .screen-outer div[data-name=service] .J_Service div[class^=cate-title] span[class^=cate-title-txt]::before {
  content: "产品";
  display: inline-block;
}
#ice-container > .screen-outer div[data-name=service] .J_Service div[class^=cate-title] span[class^=cate-title-icon--] {
  display: none;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] {
  width: var(--cate-width);
  background-color: #292929;
  position: relative;
  overflow: auto;
  height: calc(100vh - 150px);
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat {
  margin: unset;
  padding-left: 16px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  margin-left: 0.2rem;
  margin-right: 5px;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container] {
  display: flex;
  align-items: center;
  width: 12rem;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container] i {
  display: none;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container]::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("https://img.alicdn.com/imgextra/i1/3558723722/O1CN01yD9lFf1dMj9JREvXX_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 0.2rem;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container]:hover::before {
  background: url("https://img.alicdn.com/imgextra/i4/3558723722/O1CN01NwsqP11dMj9JRlgoV_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container] a[class^=cate-content-href] {
  color: #b3b3b3;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat div[class^=first-cate-container] span[class^=service-slash] {
  color: #b3b3b3;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat:hover {
  background-color: #292929;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat:hover::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
  margin-left: 0.2rem;
  margin-right: 5px;
  transform: scale(1.5);
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] {
  position: unset;
  padding-left: 1rem;
  width: 14rem;
  z-index: 230;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] {
  width: calc(100% - 8px) !important;
  background-color: #292929;
  border: unset;
  padding: unset;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] {
  overflow-x: hidden;
  max-height: calc(100vh - 2.5rem - 36px);
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] [class^=sec-cate-title-container-a--] {
  color: #b3b3b3;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item] {
  height: 32px;
  margin: unset;
  display: flex;
  align-items: center;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item]::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  margin-left: 0.2rem;
  margin-right: 5px;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item] a {
  position: unset;
  display: flex;
  align-items: center;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item] a::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("https://img.alicdn.com/imgextra/i1/3558723722/O1CN01yD9lFf1dMj9JREvXX_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 0.2rem;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item] a:hover::before {
  background: url("https://img.alicdn.com/imgextra/i4/3558723722/O1CN01NwsqP11dMj9JRlgoV_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item] .tb-ifont {
  display: none;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item]:hover::before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
  margin-left: 0.2rem;
  margin-right: 5px;
  transform: scale(1.5);
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-item]:hover + div {
  display: flex;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-content] {
  display: none;
  margin: unset;
  padding-left: 1.37rem;
  flex-wrap: wrap;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-content] a {
  width: calc(100% - 2rem);
  word-wrap: break-word;
  white-space: pre-wrap;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-content] a::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 3px;
  background: url("https://img.alicdn.com/imgextra/i2/3558723722/O1CN01Fn6k111dMj9LMorPh_!!3558723722-2-tblife2_ugc.png") no-repeat;
  background-size: 100% 100%;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-content] a::after {
  content: ".md";
  display: inline;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > div[class^=cate-links-container] div[class^=sec-cate-content]:hover {
  display: flex;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] > div[class^=sec-cate-container--] > div[class^=sec-cate-container-scroll--] > [class^=venues-brands-container] {
  display: none;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] a {
  color: #b3b3b3;
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] a:hover {
  color: var(--tbpc-primary-theme-color);
}
#ice-container > .screen-outer div[data-name=service] .J_Service ul[class^=service-bd] a div[class^=brand--]:hover {
  background-color: var(--tbpc-bg2-color);
}
#ice-container > .screen-outer .main {
  height: 0;
}
#ice-container > .screen-outer .main .main-inner .core.J_Core {
  height: 0;
  overflow: hidden;
}
#ice-container > .screen-outer .main .main-inner .col-right {
  position: fixed;
  top: 36px;
  right: 0;
  z-index: 220;
  margin-right: unset;
  height: calc(100vh - 36px);
  background-color: #292929;
  overflow: auto;
  border-left: 1px solid #353535;
}
#ice-container > .screen-outer .main .main-inner .col-right::before {
  content: "个人首页.md";
  display: flex;
  align-items: center;
  width: 100px;
  height: 2.5rem;
  padding-left: 30px;
  color: #fff;
  font-style: italic;
  z-index: 999;
  background-color: #1e1e1e;
  background-image: url("https://img.alicdn.com/imgextra/i2/3558723722/O1CN01Fn6k111dMj9LMorPh_!!3558723722-2-tblife2_ugc.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user {
  margin: 5px;
  border-radius: unset;
  background-color: #292929;
  background-image: unset !important;
}
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user a.mytao-collectitem {
  color: #b3b3b3;
}
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user a.mytao-collectitem p {
  color: inherit;
}
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user a.mytao-collectitem:hover p,
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user a.mytao-collectitem:hover span {
  color: var(--tbpc-primary-theme-color);
}
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user strong,
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user a,
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user div[class^=login-guide-],
#ice-container > .screen-outer .main .main-inner .col-right .tbh-user .user-externalLink-item-text {
  color: #b3b3b3;
}
#ice-container > .layer {
  margin: unset;
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width));
  overflow: hidden;
}
#ice-container > .layer .layer-inner {
  width: inherit;
  background-color: #1e1e1e;
}
#ice-container > .layer .layer-inner .tb-picks-container {
  width: inherit;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper {
  z-index: 210;
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width));
  padding: unset;
  height: 2.5rem;
  background-color: #292929;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper {
  width: inherit;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList {
  padding: unset;
  width: inherit;
  overflow-x: auto;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList .smallTabWrapper {
  height: inherit;
  background-color: #353535;
  padding: 0 15px;
  margin: unset;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList .smallTabWrapper .smallTabTitle {
  color: #b3b3b3;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList .smallTabWrapper.smallTabWrapperSelected {
  background-color: #1e1e1e;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList .smallTabWrapper.smallTabWrapperSelected .smallTabTitle {
  color: #fff;
}
#ice-container > .layer .layer-inner .tb-picks-container .smallTabListWrapper .smallTabListInnerWrapper .smallTabList .smallTabWrapper.smallTabWrapperSelected::before {
  display: none;
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 15px;
  box-sizing: border-box;
  gap: 16px;
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container .tb-pick-content-item {
  float: unset;
  flex: 1;
  margin: auto;
  min-width: 200px;
  max-width: 240px;
  height: unset;
  aspect-ratio: 1/1.47;
  background-color: #1e1e1e;
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container .tb-pick-content-item a .img-wrapper {
  width: inherit;
  height: unset;
  aspect-ratio: 1/1;
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container .tb-pick-content-item a .info-wrapper .info-wrapper-title-text {
  color: #fff;
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container .tb-pick-content-item a .hover-border {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}
#ice-container > .layer .layer-inner .tb-picks-container .tb-pick-feeds-container .tb-pick-content-item a .hover-border:hover {
  border: 1px solid #fff;
}

div[data-spm=seoinject] {
  position: relative;
  left: calc(3.5rem + var(--cate-width));
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width)) !important;
}
div[data-spm=seoinject] > .layer {
  width: inherit;
  background-color: #1e1e1e;
  color: #fff;
}

#J_SiteFooter {
  position: relative;
  left: calc(3.5rem + var(--cate-width));
  width: calc(100vw - var(--cate-width) - 3.5rem - var(--login-width)) !important;
}
#J_SiteFooter .tb-footer {
  width: inherit;
  background-color: #1e1e1e;
}
#J_SiteFooter .tb-footer .tb-footer-inner {
  width: inherit;
}
#J_SiteFooter .tb-footer .tb-footer-inner div[class^=tb-footer] span {
  color: #fff;
}
#J_SiteFooter .tb-footer .tb-footer-inner div[class^=tb-footer] strong,
#J_SiteFooter .tb-footer .tb-footer-inner div[class^=tb-footer] a {
  color: #e6e6e6;
}
#J_SiteFooter .tb-footer .tb-footer-inner .tb-footer-ft img {
  background-color: #fff;
}

@media (max-width: 1400px) {
  html:root {
    --cate-width: 0rem;
    --login-width: 0rem;
  }
  #J_Toolkit .tb-toolkit {
    top: calc(36px + 3.2rem);
  }
  #J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item.toolkit-item-back {
    bottom: calc(3.2rem + 36px);
  }
  #ice-container .screen-outer div[data-name=service] .J_Service {
    position: fixed;
    top: 36px;
    left: 0;
    width: 3.5rem;
    height: 3.2rem;
    min-height: unset !important;
    background-color: #353535;
    z-index: 1001;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service::before {
    display: none;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--] {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3.5rem;
    padding: unset;
    background-color: unset;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--]::before {
    display: none;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--]::after {
    content: "";
    display: block;
    background: url("https://img.alicdn.com/imgextra/i2/3558723722/O1CN01O2MJd41dMj9CaLAGP_!!3558723722-2-tblife2_ugc.png") no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--] span[class^=cate-title-txt--] {
    flex: 1;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--] span[class^=cate-title-txt--]::before {
    display: none;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > div[class^=cate-title--] span[class^=cate-title-icon--] {
    filter: invert(100%);
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > ul[class^=service-bd] {
    display: none;
    height: calc(100vh - 36px);
  }
  #ice-container .screen-outer div[data-name=service] .J_Service > ul[class^=service-bd] li.J_Cat > div[class^=sec-cate--] {
    left: 15rem;
  }
  #ice-container .screen-outer div[data-name=service] .J_Service:hover > ul[class^=service-bd] {
    display: block;
    width: 15rem;
    position: absolute;
    top: 0;
    left: 3.5rem;
    overflow: unset;
  }
  #ice-container .screen-outer .main .main-inner .col-right {
    right: 1.6rem;
    top: unset;
    bottom: 7rem;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;
    z-index: 1001;
  }
  #ice-container .screen-outer .main .main-inner .col-right::before {
    display: none;
  }
  #ice-container .screen-outer .main .main-inner .col-right > div[data-spm=user] {
    padding: unset;
    margin: unset;
    width: inherit;
    height: inherit;
  }
  #ice-container .screen-outer .main .main-inner .col-right > div[data-spm=user] .user .J_UserMemberWrap {
    margin: unset;
  }
  #ice-container .screen-outer .main .main-inner .col-right > div[data-spm=user] .user .J_UserMemberWrap .avatar-wrapper {
    float: unset;
    width: 3.5rem;
    height: 3.5rem;
  }
  #ice-container .screen-outer .main .main-inner .col-right > div[data-spm=user] .user .J_UserMemberWrap .avatar-wrapper .J_UserMemberHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    cursor: pointer;
  }
  #ice-container .screen-outer .main .main-inner .col-right:hover {
    border-radius: unset;
    overflow: unset;
    width: unset;
    height: calc(100vh - 36px);
    right: 0;
    top: 36px;
    padding: 5px;
    border: unset;
  }
  #ice-container .screen-outer .main .main-inner .col-right:hover > div[data-spm=user] {
    width: 16rem;
    height: 25rem;
    padding: 12px;
  }
  #ice-container .screen-outer .main .main-inner .col-right:hover > div[data-spm=user] .user .J_UserMemberWrap {
    margin: 0 4px;
  }
  #ice-container .screen-outer .main .main-inner .col-right:hover > div[data-spm=user] .user .J_UserMemberWrap .avatar-wrapper {
    width: 3.5rem;
    float: left;
    height: 3.5rem;
  }
  #ice-container .screen-outer .main .main-inner .col-right:hover > div[data-spm=user] .user .J_UserMemberWrap .avatar-wrapper .J_UserMemberHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    cursor: pointer;
  }
}
button[data-spm-anchor-id] {
  bottom: 50px !important;
}

/*# sourceMappingURL=index.css.map */
