// 主要内容
#ice-container {
  position: relative;
  left: calc($tools_width + var(--cate-width));
  background-color: $bg_color_3;
  // 这个元素给滚动时遮挡搜索组件背景过渡的，这样不会太突兀
  &::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $topbar_height;
    background-color: $bg_color_3;
  }
  // 活动横幅
  & > .J_Module,
  & > div[data-name="superbanner"] {
    left: calc(0px - (var(--cate-width) + $tools_width));
    top: $topbar_height + 5px;
    width: 100vw;
    z-index: 200;
  }
  // 默认搜索
  & > .cup.search-fixed {
    margin: unset;
    width: $content_width;
    border-radius: unset;
    margin-top: $tab_title_height;
    & > .top {
      margin: unset;
      height: $topbar_height;
      padding: unset;
      .top-wrap {
        width: inherit;
        background-color: $bg_color_1;
        padding-top: 15px;
        .tbh-logo,
        a[class="logo"] {
          display: none;
        }
        .tbh-search {
          margin: auto;
          width: 35rem;
          #J_Search {
            z-index: 200;
            div[data-name="search"] {
              .search-wrap {
                & > .search-bd {
                  div[data-spm-ab="fline"] {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // 开始时搜索栏
  & > .search-fixed.search-decorations {
    & > .top {
      background-color: $bg_color_3;
      .top-wrap {
        padding-top: 15px;
      }
    }
  }
  // 滚动时搜索栏
  & > .wrap-fixed.search-decorations,
  & > .cup.wrap-fixed {
    & > .top {
      background-color: $bg_color_3;
      height: $topbar_height;
      padding: unset;
      // border-bottom: 1px solid $border_color;
      &::after {
        @include logo_style;
      }
      .top-wrap {
        div[data-name="search"] {
          @include input_search_style;
        }
        .tbh-logo {
          display: none;
        }
      }
    }
  }
  // 分类这一行
  & > .screen-outer {
    height: 0;
    padding-top: unset;
    div[data-name="service"] {
      .J_Service {
        position: fixed;
        top: $topbar_height;
        left: $tools_width;
        z-index: 220;
        height: calc(100vh - $topbar_height);
        max-height: unset;
        background-color: $bg_color_2;
        margin-left: unset;
        border-radius: unset;
        div[class^="cate-title"] {
          span[class^="cate-title-txt"] {
            color: $font_color;
          }
          span[class^="cate-title-icon--"] {
            filter: invert(100%);
          }
        }
        ul[class^="service-bd"] {
          width: var(--cate-width);
          overflow: hidden;
          background-color: $bg_color_2;
          li.J_Cat {
            margin: unset;
            padding-left: 16px;
            &:hover {
              background-color: $bg_color_3;
            }
            div[class^="first-cate-container"] {
              // 分类图标
              i {
                filter: invert(100%);
              }
              // 分类文字
              a[class^="cate-content-href"] {
                color: $font_color;
              }
              // 链接斜杆
              span[class^="service-slash"] {
                color: $font_color;
              }
            }
            // 悬停弹出分类这块
            & > div[class^="sec-cate--"] {
              top: $tab_title_height;
              left: var(--cate-width);
              width: $content_width;
              z-index: 230;
              & > div[class^="sec-cate-container--"] {
                width: calc(100% - 8px) !important;
                background-color: $bg_color_1;
                & > div[class^="sec-cate-container-scroll--"] {
                  max-height: calc(100vh - $tab_title_height - $topbar_height);
                  & > div[class^="cate-links-container"] {
                    // 填充底部
                    &::after {
                      content: "";
                      display: block;
                      height: 36px;
                    }
                    // 标题字体
                    [class^="sec-cate-title-container-a--"] {
                      color: $font_color;
                    }
                  }
                }
              }
            }
          }
          // 链接字体
          a {
            color: $font_color;
            &:hover {
              color: var(--tbpc-primary-theme-color);
            }
            div[class^="brand--"]:hover {
              background-color: var(--tbpc-bg2-color);
            }
          }
        }
      }
    }
    // 登录这块
    .main {
      height: 0;
      .main-inner {
        .core.J_Core {
          height: 0;
          overflow: hidden;
        }
        // 右侧信息
        .col-right {
          position: fixed;
          top: $topbar_height;
          right: 0;
          z-index: 220;
          margin-right: unset;
          height: calc(100vh - $topbar_height);
          background-color: $bg_color_2;
          overflow: auto;
          .tbh-user {
            margin: 5px;
            border-radius: unset;
          }
        }
      }
    }
  }
  // 商品内容
  & > .layer {
    margin: unset;
    width: $content_width;
    overflow: hidden;
    .layer-inner {
      width: inherit;
      background-color: $bg_color_1;
      .tb-picks-container {
        width: inherit;
        // 商品标题
        .smallTabListWrapper {
          position: fixed;
          top: $topbar_height !important;
          left: calc($tools_width + var(--cate-width));
          z-index: 210;
          width: $content_width;
          padding: unset;
          margin: unset;
          height: $tab_title_height;
          background-color: $bg_color_3;
          .smallTabListInnerWrapper {
            width: inherit;
            .smallTabList {
              padding: unset;
              width: inherit;
              overflow-x: auto;
              .smallTabWrapper {
                height: inherit;
                background-color: $bg_color_3;
                padding-right: 32px;
                margin: unset;
                .smallTabTitle {
                  color: get_font_color(30%);
                }
                // 选中的样式
                &.smallTabWrapperSelected {
                  background-color: $bg_color_1;
                  .smallTabTitle {
                    color: $font_color;
                  }
                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
        // 商品列表
        .tb-pick-feeds-container {
          width: inherit;
          display: flex;
          flex-wrap: wrap;
          padding: 5px 15px;
          box-sizing: border-box;
          gap: 16px;
          .tb-pick-content-item {
            float: unset;
            flex: 1;
            margin: auto;
            min-width: 200px;
            max-width: 240px;
            height: unset;
            aspect-ratio: 1 / 1.47;
            background-color: $bg_color_1;
            a {
              .img-wrapper {
                width: inherit;
                height: unset;
                aspect-ratio: 1 / 1;
              }
              .info-wrapper {
                .info-wrapper-title-text {
                  color: $font_color;
                }
              }
              .hover-border {
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                &:hover {
                  border: 1px solid $border_color;
                }
              }
            }
          }
        }
      }
    }
  }
}
