// logo样式
@mixin logo_style {
  content: "";
  display: block;
  background-image: url("https://img.alicdn.com/imgextra/i1/O1CN011YZ3P01zMCE6HGyhk_!!6000000006699-2-tps-480-144.png");
  background-size: 100% 100%;
  height: $topbar_height;
  aspect-ratio: 10 / 3;
  position: absolute;
  top: 2px;
  left: -1rem;
}