@media (max-width: 1400px) {
  // 关于左侧边栏的媒体查询
  html:root {
    --cate-width: 0rem;
    --login-width: 0rem;
  }
  #J_Toolkit {
    .tb-toolkit {
      top: calc($topbar_height + $tools_item_height);
      // 回到顶部元素
      .tb-toolkit-list .toolkit-item.toolkit-item-back {
        bottom: calc($tools_item_height + $topbar_height + $tools_theme_height);
      }
    }
  }
  #ice-container .tbpc-layout .screen-outer div[data-name="service"] {
    .J_Service {
      position: fixed;
      top: $topbar_height;
      left: 0;
      width: $tools_width;
      height: $tools_item_height;
      min-height: unset !important;
      background-color: $bg_color_3;
      z-index: 1001;
      &::before {
        display: none;
      }
      & > div[class^="cate-title--"] {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: $tools_width;
        padding: unset;
        background-color: unset;
        &::before {
          display: none;
        }
        &::after {
          content: "";
          display: block;
          background: url("https://img.alicdn.com/imgextra/i4/3558723722/O1CN01rKRSsj1dMj9K79pVV_!!3558723722-2-tblife2_ugc.png")
            no-repeat;
          background-size: 100% 100%;
          width: 24px;
          height: 24px;
          transform: scale(0.7);
          filter: invert(50%);
        }
        span[class^="cate-title-txt--"] {
          flex: 1;
          color: get_font_color(30%);
          &::before {
            display: none;
          }
        }
        span[class^="cate-title-icon--"] {
          filter: invert(100%);
        }
      }
      & > ul[class^="service-bd"] {
        display: none;
        height: calc(100vh - $topbar_height);
        li.J_Cat > div[class^="sec-cate--"] {
          left: $cate_width;
        }
      }
      &:hover {
        div[class^="cate-title--"] {
          span[class^="cate-title-txt--"] {
            color: $font_color;
          }
          &::after {
            filter: unset;
          }
        }
        > ul[class^="service-bd"] {
          display: block;
          width: $cate_width;
          position: absolute;
          top: 0;
          left: $tools_width;
          overflow: unset;
        }
      }
    }
  }

  // 关于右侧边栏的媒体查询
  #ice-container .tbpc-layout .screen-outer {
    .main .col-right {
      right: 1.6rem;
      top: unset;
      bottom: $tools_width * 2;
      width: $tools_width;
      height: $tools_width;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid $border_color;
      box-sizing: border-box;
      background-color: $bg_color_2;
      z-index: 1002;
      &::before {
        display: none;
      }
      & > div[data-spm="user"] {
        padding: unset;
        margin: unset;
        width: inherit;
        height: inherit;
        .user {
          .J_UserMemberWrap {
            margin: unset;
            .avatar-wrapper {
              float: unset;
              width: $tools_width;
              height: $tools_width;
              .J_UserMemberHome {
                display: flex;
                justify-content: center;
                align-items: center;
                width: inherit;
                height: inherit;
                cursor: pointer;
                .J_UserMemberAvatar {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }
        }
      }
      &:hover {
        border-radius: unset;
        overflow: unset;
        width: unset;
        height: calc(100vh - $topbar_height);
        right: 0;
        top: $topbar_height;
        padding: 5px;
        border: unset;
        & > div[data-spm="user"] {
          width: $login_width;
          height: $login_height;
          padding: 12px;
          .user {
            .J_UserMemberWrap {
              margin: 0 4px;
              .avatar-wrapper {
                width: $tools_width;
                float: left;
                height: $tools_width;
                .J_UserMemberHome {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: inherit;
                  height: inherit;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
