// seo区域
div[data-spm="seoinject"] {
  position: relative;
  left: calc($tools_width + var(--cate-width));
  width: $content_width !important;
  & > .layer {
    width: inherit;
    background-color: $bg_color_1;
    color: $font_color;
  }
}