// 顶部栏
#J_SiteNav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg_color_3;
  border-bottom: unset;
  .site-nav-bd {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: unset;
    width: calc(100vw - ($topbar_height * 3.3));
    margin-left: $topbar_height * 3.3;
    .site-nav-bd-l,
    .site-nav-bd-r {
      color: $font_color;
      font-size: $font_size;
      li {
        &.site-nav-menu-hover {
          .site-nav-menu-hd {
            border: 0;
            background-color: $bg_color_1;
          }
        }
        .site-nav-menu-hd {
          background-color: transparent;
          box-sizing: border-box;
        }
        .site-nav-menu-bd-panel {
          border: 0;
          background-color: $bg_color_1;
          .site-nav-region-item:hover,
          a:hover {
            background: $bg_color_2;
          }
        }
      }
    }
    .site-nav-bd-r {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      .site-nav-menu-hd {
        display: flex;
        overflow: hidden;
        a {
          float: unset;
        }
      }
    }
  }
  // logo
  &::before {
    @include logo_style;
  }
}